*{
    margin: 0;
    padding: 0;
}

h1{
    color: #1d9c75;
    font-size: 50px;
    font-weight: 900;
    font-style: oblique;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;


}

.bg{
    height: 400px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1716690449483-598c9f7fe0d0?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
 
}

p{
    font-size: 18px;
    text-align: justify;
    text-indent: 40px ;
}